<div class="container mx-auto mt-8">
    <h2 class="text-3xl font-semibold mb-4 pb-20 text-center">Notre Salle de Sport</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <div class="pb-20">
        <img src="/assets/img1.jpg" alt="Salle de sport" class="rounded-lg h-96 w-96 ">
      </div>
      <div class="flex flex-col justify-center">
        <p class="text-lg leading-relaxed mb-4">Bienvenue dans notre salle de sport spécialisée en Yoga. Notre salle offre un environnement accueillant et relaxant pour tous les amateurs de Yoga, qu'ils soient débutants ou avancés.</p>
        <p class="text-lg leading-relaxed">Nos installations modernes et nos équipements de qualité vous permettront de pratiquer le Yoga dans les meilleures conditions possibles, afin de vous aider à atteindre vos objectifs de bien-être et de santé.</p>
      </div>
      <div class="pb-20">
        <img src="/assets/img2.jpg" alt="Salle de sport" class="rounded-lg h-96 w-96">
      </div>
      <div class="flex flex-col justify-center">
        <p class="text-lg leading-relaxed mb-4">Bienvenue dans notre salle de sport spécialisée en Yoga. Notre salle offre un environnement accueillant et relaxant pour tous les amateurs de Yoga, qu'ils soient débutants ou avancés.</p>
        <p class="text-lg leading-relaxed">Nos installations modernes et nos équipements de qualité vous permettront de pratiquer le Yoga dans les meilleures conditions possibles, afin de vous aider à atteindre vos objectifs de bien-être et de santé.</p>
      </div>
    </div>
    <div class="container mx-auto mt-8 ">
        <h2 class="text-3xl font-semibold mb-4 pb-4 text-center">Avis des Clients</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8 pb-20">
          <div class="rounded-lg shadow-md bg-white p-6">
            <h3 class="text-xl font-semibold mb-4">Avis Client 1</h3>
            <p class="text-lg leading-relaxed">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus consequat ex et ex sodales ultrices."</p>
          </div>
          <div class="rounded-lg shadow-md bg-white p-6">
            <h3 class="text-xl font-semibold mb-4">Avis Client 2</h3>
            <p class="text-lg leading-relaxed">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus consequat ex et ex sodales ultrices."</p>
          </div>
        </div>
      </div>
      
    
  </div>
  